body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  padding-top: 60px;
  color: #fff;
  font-size: 40px;
}

.stop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 30px;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: orangered;
  color: #fff;
  margin-top: 30px;
}
button:hover {
  cursor: pointer;
  background: orange;
}

center {
  position: relative;
}

.credit {
  font-size: 12px;
}

.credit a, .credit a:visited, .credit a:link {
  color: #fff;
}